/*------------------------------------*\
    IUCN theme base setup
\*------------------------------------*/


// font smoothing settings / needs to be browser tested for Lato
html, input, textarea, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// basic styles
body {
	// font imported using font-your-face through the themes init file
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	background: $white;
	color: $body-text;
}

// basic anchors
a {
	color: $body-dark-text;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: $body-text;
		text-decoration: none;
	}

}

// anchors that lead to document files
.file{
	color: $library-blue;
	//add more file types if required
	a[href$=".txt"],
	a[href$=".doc"],
	a[href$=".docx"],
	a[href$=".xls"],
	a[href$=".xlsx"],
	a[href$=".pdf"],
	a[href$=".ppt"],
	a[href$=".pptx"],
	a[href$=".pps"],
	a[href$=".ppsx"],
	a[href$=".odt"],
	a[href$=".ods"],
	a[href$=".odp"] {
		color: $library-blue;
	}

	a {
		word-wrap: break-word;
	}

}

// headings
h1, h2, h3, h4, h5, h6 {
	color: $body-dark-text;

	a {
		color: $body-dark-text;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $body-text;
			text-decoration: underline;
		}

	}

}

// remove padding left from lists of inline links
.oe-basic ul.links.inline {
	padding-left: 0;
}

// get rid of the region borders
body .pane-main-menu,
.pane-main-menu ul.menu,
.panel-pane,
.panel-pane.pane-block,
ul.view li,
ul.view-openethical-events li,
body.page-documents ul.view-open-ethical-document-library li,
body.page-search .views-row,
body.page-search .pane-search-box,
body.page-blog ul.view-openethical-blog li,
.es-facet-search,
.panel-pane.pane-block.pane-easy-social-easy-social-block-1,
.panel-pane.pane-node-easy-social-1,
#main-wrapper,
body.page-documents ul.view-open-ethical-document-library li:last-of-type,
body.page-search .views-row-last,
ul.view li.views-row-last
body.page-blog ul.view-openethical-blog li:last-of-type,
ul.view li:last-of-type,
body ul.oe-portrait-link li,
body.page-photos ul.view-openethical-image-library li,
body.page-videos ul.view-openethical-video-library li,
body .panel-pane.es-facet,
.first-panel,
.es-bear-bones,
ul.links li,
.nav-tabs,
.mini-nav,
body div.item-list ul.pager li,
.panel-pane, ul.teaserPieces,
ul.view li, ul.teaserPieces li,
#breadcrumb .container,
#twitter li,
ul.teaserPieces.first-panel,
body .pane-main-menu ul.menu,
div.search-tags {
  border: none;
}
