/*------------------------------------*\
    IUCN boxed panels
\*------------------------------------*/

// body div.panel-panel to give the following styles more importance
body div.panel-panel {

  // Panel title needs a little bit less bottom padding
  .pane-title,
  h2.pane-title,
  h3.pane-title {
    padding-bottom: 16px;
  }

  .pane-panopoly-widgets-general-content-list-of-content ul.view > li,
  //list of content links (on the ul instead of the li. li version cancelled below)
  .pane-panopoly-widgets-general-content-list-of-content ul.view.oe-tiny,
  .pane-openethical-documents-list-of-documents ul.view > li,
  //list of document links (on the ul instead of the li. li version cancelled below)
  .pane-openethical-documents-list-of-documents ul.view.oe-portrait-link,
  .pane-openethical-image-gallery-panel-pane-1 ul.view,
  .pane-openethical-video-gallery-panel-pane-1 ul.view,
  .pane-panopoly-widgets-general-content-piece-of-content .views-row,
  //Individual document
  .pane-openethical-documents-panel-pane-1 div.view,
  //areas of work
  .pane-elc-core-cci-theme-nav-pane ul.view > li,
  //Course Materials
  .view-elc-og-contributed-course-materials > li,
  //Case studies
  .view-elc-case-studies > li,
  .pane-elc-case-study-principles-list-of-content ul.view > li,
  // .pane-fieldable-panels-pane covers these panel types: library promo, links, file, image, text, map, table, video, custom item
  // might have to put override the following for some of those types if the white box isn't needed. For example pane-bundle-text is overriden below
  .pane-fieldable-panels-pane .pane-content {
    background: $white;
    padding: 28px 20px 0 20px; /* 1px on bottom to solve margin collapsing? could also use overflow hidden (but that screws with negative top margins), could use position relative instead? */
    border-top: 4px solid $page-border;
  }

  // fix collapsed margin on quick-link panels
  .pane-bundle-quick-links .pane-content{
    padding-bottom:1px!important;
  }

  //removing white box for these types. not sure if it should always be removed though...
  .pane-bundle-text .pane-content,
  //maps
  .pane-bundle-map .pane-content,
  //list of document links
  .pane-openethical-documents-list-of-documents ul.view.oe-portrait-link > li,
  //list of content links
  .pane-panopoly-widgets-general-content-list-of-content ul.view.oe-tiny > li {
    background: none;
    padding: 0;
    border: none;
  }

  .pane-openethical-documents-list-of-documents ul.view.oe-portrait-link {
    padding-bottom: 28px;
  }

  .pane-openethical-documents-list-of-documents ul.view > li {
    margin-bottom: 30px;
  }

  //release horizontal padding/margins on teaserGroups
  .teaserGroup ul.teaserPieces {
    padding: 0;

    .panel-pane{
      padding: 0;
      margin: 0 0 30px 0;
    }

  }

}

// filter boxes are a little trickier (they split into two sections on small screen)
body {

  .view-filters, .panel-pane.es-facet {
    background: $white;
    padding: 28px 20px 1px 20px; /* 1px on bottom to solve margin collapsing? could also use overflow hidden (but that screws with negative top margins), could use position relative instead? */
    border-top: 4px solid $page-border;

    form {
      position: relative;
    }

  }

  .view-filters {
    padding: 28px 20px 1px 20px;
    margin-bottom: 40px!important;

    @media only screen and (min-width: 768px) {
      padding: 28px 20px 1px 20px;
      margin-bottom: 0px!important;
    }

  }

  // allows the panel & input to expand full-width on small screen
  .es-facet-search {

      &,
      .form-item-search-api-views-fulltext {
        max-width: 100%;
      }

    }

  .panel-pane.es-facet {
    padding: 0 20px 0 20px!important;
    border-top: 0!important;
  }

  .panel-pane.es-facet.first-facet {
    padding-top: 28px!important;
    border-top: 4px solid $page-border!important;

    @media only screen and (min-width: 768px) {
      padding-top: 0!important;
      border-top: 0!important;
    }

  }

}

// some filters display differently like "photo filters" & "video filters"
body.page-photos, body.page-videos {

  .panel-pane.es-facet {
    padding: 28px 20px 0 20px;
    border-top: 4px solid $page-border;
  }

  .panel-pane.es-facet.first-facet {
    padding-top: 28px!important;
    border-top: 4px solid $page-border!important;

    @media only screen and (min-width: 768px) {
      padding-top: 28px!important;
      border-top: 4px solid $page-border!important;
    }

  }

}


// block menu default
body .pane-main-menu .menu-block-wrapper {
  background: none;

  .main-nav-head {
    padding: 0;
  }

  ul.menu.nav {
    border-top: 4px solid $page-border;
    background: $white;
    padding: 20px 0 20px 0;

    li {
      margin-bottom: 5px;
    }

    a {
    	font-size: $font-size-base;
      color: $body-dark-text;

      &:hover,
      &:focus,
      &.active {
        color: $body-dark-text;
      	text-decoration: none;
      }

    }

  }

}




// block menu
body {

  .pane-main-menu .menu-block-wrapper ul.menu.nav {
    margin-bottom: 30px;
  }

}

//social boxes

body .easy_social_box {
  margin: 0 0 30px 0;
  padding: 20px 20px 0 20px;
  background: $white;
}

body .pane-easy-social-easy-social-block-1 {
  margin: 0;
}
