/*------------------------------------*\
    IUCN buttons
\*------------------------------------*/

// default buttons
p.library-link a,
.pane-elc-case-study-principles-list-of-content p.link a,
p.add-content-btn a,
a.browse,
input[type="submit"],
.toggle-comment-visibility {
  padding: 8px 16px;
  text-decoration: none;
  color: $white!important;
  background: $library-blue;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
  font-weight: 700;
  font-style: italic;

  &:hover,
  &:focus {
    background: $library-darkblue;
  }

}

.es-facet-search input[type="submit"] {
  background-color: transparent;

  &:hover, &:focus {
    background: url(../images/arrows.png) no-repeat 1px 0!important;
  }

}

// library buttons appearing in a list of box items
.pane-panopoly-widgets-general-content-list-of-content p.library-link,
// Case study buttons appearing in a list of box items
.pane-elc-case-study-principles-list-of-content p.link,{
  margin-top: 30px;
}
