/*------------------------------------*\
    IUCN carousel
\*------------------------------------*/

// captions
.carousel .carousel-caption {
	color: $white;
	background: $carousel-green;

	h2 {

		&, a {
			color: $white;
		}

		@media only screen and (min-width: 481px) and (max-width:600px), only screen and (min-width: 768px) and (max-width:980px) {
			font-size: 16px;
			line-height:1.5;
		}

	}

	p {
		color: $white;

		@media only screen and (min-width: 481px) and (max-width:600px), only screen and (min-width: 768px) and (max-width:980px) {
			font-size: 12px;
			line-height:1.5;
		}

	}

}

.opacity .carousel .carousel-caption {
	background: $carousel-green;

	@media only screen and (min-width: 481px) {
		border-top: 4px solid rgba(99, 169, 102, 0.6);
		background: rgba(99, 169, 102, 0.75);
	}

}

// indicators
.carousel .carousel-indicators {
	bottom: 20px;
}

.carousel .carousel-indicators li,
.carousel .carousel-indicators li.active {
	background: $white;
}

// control
.carousel .carousel-control {
	height: 44px;
	width: 44px;
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
	text-align: center;
	color: $white;
	text-decoration: none;
	background: $carousel-green;

	&, i {
		font-size: 20px;
	}

  i {

    &.glyphicon-chevron-left {
      left:50%;
      top:25%;

      @media only screen and (min-width : 768px) {
        top:57%;
      }
    }

    &.glyphicon-chevron-right {
      right:50%;
      top:25%;

      @media only screen and (min-width : 768px) {
        top:57%;
      }
    }
  }

	&:hover,
	&:focus{
		color: $white;
	}

}

.opacity .carousel .carousel-control {
	background: rgba(99, 169, 102, 0.75);

	&:hover,
	&:focus {
		background: rgba(99, 169, 102, 0.95);
	}

}
