/*------------------------------------*\
    IUCN comments
\*------------------------------------*/

// toggle btn

#toggle-comment-visibility {
	margin-top: -5px;
	padding: 5px 10px;
	font-size: 14px;

	i {
		margin-right: 6px;
		font-size: 10px;
	}

}

// Comment box
.oa-list.well {
	margin: 0 0 8px 17px;
	padding-left: 20px;
	padding-right: 0;
	background-image: none;
	background-color: $white;
	border-radius: 0 3px 3px 0;
}

.page-comment-reply {

	.oa-list.well {
		margin: 0 20px 20px 37px;

		.oa-list-header-processed {
			padding: 0;
		}

	}

	.comment-form {
		width: 95%;
		margin: 0 20px 40px;

		.form-actions {
			margin: 20px 20px 0;
		}

	}

}

// temp fix for pagers appearing inside uls
.pane-node-comments div.item-list,
.pane-views-panes ul.view-elc-og-contributed-course-materials div.item-list {
	margin-top: 28px;
}



.pane-node-comments .oa-list .oa-comment-hide:hover,
.pane-node-comment-wrapper .oa-list .oa-comment-hide:hover,
.pane-content #comments .oa-list .oa-comment-hide:hover {
  background-color: #fafafa;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(250,250,250,0.25) 5%, rgba(250,250,250,1) 50%, rgba(250,250,250,0.25) 95%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(5%,rgba(250,250,250,0.25)), color-stop(50%,rgba(250,250,250,1)), color-stop(95%,rgba(250,250,250,0.25)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(250,250,250,0.25) 5%,rgba(250,250,250,1) 50%,rgba(250,250,250,0.25) 95%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(250,250,250,0.25) 5%,rgba(250,250,250,1) 50%,rgba(250,250,250,0.25) 95%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(250,250,250,0.25) 5%,rgba(250,250,250,1) 50%,rgba(250,250,250,0.25) 95%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(250,250,250,0.25) 5%,rgba(250,250,250,1) 50%,rgba(250,250,250,0.25) 95%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.indented {
  margin-left: 18px;
}

.oa-list .accordion-heading .accordion-toggle:hover{
  background-color: transparent;
}

// Comment container
.oa-list.oa-comment{

	.oa-pullout-left {
		padding: 8px 8px 8px;
		left: -37px;
		font-size: 12px;
		color: $library-blue;
		text-decoration: none;
		background-color: $page-border;
		border-color: $page-border;
		-moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;

		.indented & {
			left: -41px;
		}

	}

	// Comment meta
	.comment-created-date {
		margin: 6px 15px 0 0;
		font-size: 12px;
		font-style: italic;

		.user-info .marker {
			color: $green;
		}

	}

	// Comment content
	.oa-comment-reply-body {
		padding: 5px 4px 0 12px;

		.indented & {
			padding: 5px 4px 0 16px;
		}

	}

}


// Comment links
.oa-list .links {
  margin-right: 0;

  @media only screen and (min-width: 768px) {
  	padding-right: 15px;
  }

}

.oa-list .links a {
  padding: 0 0 0 5px;
	color: #777;
  font-size: 14px;
}


// Comment form

div.comment-form {
	width: 94%;
	padding-left: 0;
	padding-right: 0;
	margin: 0 0 30px 0;

	@media only screen and (min-width: 768px) {
  	padding-left: 20px;
  }

  @media only screen and (min-width: 1200px) {
  	padding-left: 30px;
  }

  .grippie {
		margin-bottom: 20px;
  }

}

div.comment-form.span12 {

}


.pane-node-comment-form .field-name-comment-body label {
	font-size: 18px;
}

.pane-node-comment-form .field-name-comment-body select {
	width: 100%;
}

.pane-node-comment-form .field-name-comment-body .form-type-textarea {
	margin-bottom: 14px;
}


