/*------------------------------------*\
    IUCN Default Course Materials
\*------------------------------------*/

// Module pages

ul.field-elc-course-document {
	left: 0; top: -10px;

	li {
		list-style: none;
	}

}

// Module lists
.oe-basic {

	ul.field-elc-course-document {
		position: relative;
		left: 0; top: -10px;
		display: block;
		padding: 0;
		margin-bottom: 10px;

		> li {
			width: 100%;
			padding-left: 0;
			margin-bottom: 10px;

		}

		.file {
			margin-bottom: 0;
		}

	}

}

ul.view-elc-og-contributed-course-materials {
	margin: 0 10px 30px 10px;
  padding: 0 10px;

  @media only screen and (min-width: 768px) {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
  }

}



// Contribute Button
.pane-add-course-materials-btn-pane {
	margin-bottom: 0;
}



// Reg user contribute form
.node-elc_course_document-form {

	.form-item-title input[type="text"]{
		margin-bottom: 0;
	}

	a.browse {
		margin-left: -10px;
	}

	a.browse, input[type="submit"] {
		display: inline-block;
		width: auto;
		margin-bottom: 24px;
	}

	// re-order arrows
	.tabledrag-handle {
		display: none;
	}

	.description {
		color: $body-text;
	}

	legend {
		color: $body-dark-text;
	}

}