/*------------------------------------*\
    IUCN forms
\*------------------------------------*/

// general form styling
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	height: 44px;
	font-style: italic;
	color: $body-text!important;
	background: $white;
	border: 1px solid $form-border;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
	border-radius: 3px;

	&:focus {
		outline: none;
		border: 1px solid $form-border-focused;
		-webkit-box-shadow: 0 0 6px $form-border;
		-moz-box-shadow: 0 0 5px $form-border;
		box-shadow: 0 0 5px $form-border;
	}

	// placeholder styles
	&::-webkit-input-placeholder {
		font-style: italic;
		color: $form-placeholder;
	}

	&:-moz-placeholder { // Firefox 18-
		font-style: italic;
		color: $form-placeholder;
	}

	&::-moz-placeholder {  // Firefox 19+
		font-style: italic;
		color: $form-placeholder;
	}

	&:-ms-input-placeholder {
		font-style: italic;
		color: $form-placeholder;
	}

}

textarea {
	height: auto; // Release the height on text areas
}

#user-pass-reset .form-actions {

	padding: 0 20px;

	@media only screen and (min-width : 768px) {
		padding: 0;
	}

}

//

.form-textarea-wrapper{

	.grippie {
		margin-bottom: 12px;
	}

	.counter {
		margin-bottom: 20px;
	}
}

// select inputs
.chosen-container-multi .chosen-choices {
	font-style: italic;
	color: $body-text!important;
	border: 1px solid $form-border;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
	border-radius: 3px;

	li.search-field input[type="text"] {
		color: $body-text;
		padding: 3px 44px 4px 12px;
	}

	li.search-choice {
		color: $body-text;
	}

}

// select input highlights (selections inside the dropdowns)
.chosen-container .chosen-results {
	left: 0;

	li.highlighted {
			background: $library-blue;
	}

}

// header search and page search
#header .search-form input.search-query, .pane-search-box .search-form input#edit-keys {
	padding-left: 12px;
	padding-right: 44px;
	margin-bottom: 0;
	margin-top: 0;
}

// filter input
body .es-facet-search .form-item-search-api-views-fulltext .form-text {
	height: 44px;
	padding-left: 12px;
	padding-right: 44px;
}

// search input buttons
body .es-facet-search .form-submit, body #header .form-submit {
	height: 44px;
}

body .es-facet-search .form-submit {
	bottom: 0px;
}


// Login, registration, user-edit, password

form {

	.password-suggestions {
		font-weight: 700;
		background-color: rgba(99, 169, 102, 0.15);
		border: 1px solid $carousel-green;
		border: 1px solid rgba(99, 169, 102, 0.25);
		@include border-radius($input-border-radius);

		ul {
			font-weight: 400;
		}

	}

}
