/*------------------------------------*\
    IUCN page footer
\*------------------------------------*/

body #footer {
	background: $white;
	margin: 0;
	padding: 46px 0 14px 0;
	border-top: 3px solid $page-border;

	> .container {
		padding: 0 20px;

		@media only screen and (min-width: 768px) {
			padding: 0 0;
		}

	}

	a {
		font-weight: 400;
		font-style: normal;
		color: $secondary-menu-text;
		text-decoration: underline;

		&:hover,
		&:focus {
			text-decoration: none;
		}

		// icons in the footer inside anchors e.g. the social icons
		i {
			color: $body-text!important;
		}

	}

	// icon styles -
	// some icons are sized a little larger/smaller so that
	// they look better visually
	i {
		font-size: 18px;
		width: 30px;

		&.icon-phone, &.icon-globe {
			font-size: 22px;
		}

		&.icon-facebook, &.icon-rss-sign {
			font-size: 20px;
		}

	}

	// contact details - right-side
	.contact-details, .address {
		font-weight: 400;
	  font-style: normal;
	}

	.address {
		padding-left: 30px;
	}

	.col-md-4{
		border-bottom:none;
	}

	.pull-left {
		margin-bottom: 0;
	}

	// connect details - left-side
	.social-links {
		margin-top: 0;
	}

	// twitter posts in the footer
	ul#twitter {

		> li {
			font-size: 13px;
			line-height: 1.6;
		}

		.createdTime {
			font-weight: 700;
			font-style: normal;
		}

	}

}

// end of page styles
#page-end {
	margin: 30px 0 0 0;
	padding: 14px 0 0 0;
	border-top: 1px solid $page-border-light;

	> .container {
		padding: 0 20px;

		@media only screen and (min-width: 768px) {
			padding: 0 0;
		}

	}

	h3.site-by {
		margin: 0;
		padding: 0;
		font-size: 16px;
		font-style: italic;
		color: $site-by-text;

		a {
			color: $ethical-green;
			font-style: italic;
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}

		}

	}

}
