/*------------------------------------*\
    IUCN page header
\*------------------------------------*/

//main menu in the header
body #header #main-menu {

  li {
    position: relative;
    margin-bottom: 0;

    a.active-trail,
    a.active,
    a.active-trail:hover,
    a.active:hover,
    a.active-trail:active,
    a.active:active  {
      text-decoration: none;
    }

    a {
    	white-space: nowrap;
    }

    a > i {
      padding-left: 0.3em;
    }

  }

  @media only screen and (min-width: 992px) {
    li.first a {
      padding-left: 0;
    }

    //the pointer underneath the active item
    li.active-trail > a:after,
    li.active > a:after {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) $page-border;
      border-image: none;
      border-style: solid;
      border-width: 9px;
      bottom: -1px;
      content: " ";
      height: 0;
      left: 50%;
      margin-left: -9px;
      pointer-events: none;
      position: absolute;
      width: 0;
    }

  }

}


// general header styles
#header {
	padding: 20px 0 18px 0;
	background: $white;
	color: $body-text;
	border-bottom: none;

	@media only screen and (min-width: 992px) {
		padding: 20px 0 0 0;
	}

  nav.navbar {
    min-height:60px;
  }

	// logo
	nav .navbar-header .navbar-brand {
		width: 220px;
		text-decoration: none;
		padding-left: 0;

		@media only screen and (min-width: 768px) {
			width: 358px;
			margin-left: 0;
		}

		@media only screen and (min-width: 1200px) {
			width: 400px;
		}

	}

	// small screen navigation / collapsed
	nav {

		.navbar-toggle {
			padding: 0;
			margin: 7px 0 0 0;
			color: $body-text;
			text-decoration: none;

			@media only screen and (min-width: 768px) {
				margin: 13px 0 0 0;
			}

		}

		// burger
	  .navbar-toggle {
			.icon-bar {
				background-color: $body-text;
			}
	  }

		.navbar-toggle {
			padding: 0 10px 0 8px;

			@media only screen and (min-width: 768px) {
				padding: 0 0 0 8px;
			}

		}

	}

	// secondary navigation and search wrapper
	.header-row {

		width: 60%;

		@media only screen and (min-width: 992px) {
			padding-top: 10px;
		}

		@media only screen and (min-width: 1200px) {
			padding-top: 14px;
		}

	}

  // secondary menu
  #secondary-menu {
    margin:0;
    li {
      margin-bottom:0;

      > a {
        font-weight: 400;
        font-style: italic;
        font-size: 16px;
        color: $secondary-menu-text;
        text-decoration:none;

        &:hover,
        &:focus,
        &.active,
        &.active-trail {
          color: $body-text;
        }

      }
    }
  }

	nav #main-menu {
		padding: 16px 0 0;

		@media only screen and (min-width: 992px) {
			padding: 6px 0 0 0;
		}

	}

	#main-menu li > a,
  #navbar-collapse #secondary-menu li > a
   {
		font-weight: 400;
    font-size: 20px;
		font-style: normal;
		color: $body-text;
    text-decoration:none;

		@media only screen and (min-width: 992px) {
			padding-bottom: 24px;
		}

		&:hover,
		&:focus,
		&.active,
    &.active-trail {
			text-decoration: none;
			color: $menu-text-dark;
		}

	}

	// Dropdown menu
	#main-menu li.dropdown:hover > ul.dropdown-menu {
		width: 500px;
		min-width: 500px;
	  display: block;
	}

	.navbar .nav > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu:before{

		@media only screen and (min-width : 992px) {
			content: "";
			display: inline-block;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid $page-border;
			position: absolute;
			top: -10px;
			left: 80px;
		}

	}

	#main-menu .dropdown-menu {
		border-top: 0;

		@media only screen and (min-width : 992px) {
			top: 48px;
			width: auto;
			border: none;
			border-top: 3px solid $page-border;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			padding-bottom: 0;
		}

		> li > li{
		  width: 250px;
		}

		.modules-nav {
	    ul,
	    li{
	      margin: 5px 0 0;
	      padding: 0;
	    }

	    ul {
	      left: 0;
	      padding: 0 10px;
	      margin-bottom: 15px;
	    }

	    li a {
	      margin: 0;
	      padding: 0;
	      font-size: 16px;
	      font-weight: 700;
				font-style: italic;

	      &:hover, &:focus {
					color: $body-text;
				}

	    }

	  }

		p.link {
	    margin: 0;
	    padding: 5px 10px 5px 10px;
	    background-color: $library-blue;

	    a {
	      font-size: 16px;
	      margin-top: 15px;
	      color: $white;
	    }

	  }


		a {
			font-weight: 700;
			font-style: italic;
			text-decoration: none;

			&, &:hover, &:focus {
				color: $body-text;
			}

			&:hover, &:focus {
				text-decoration: underline;
			}

		}


	}

}





// User nav
body #header nav #user-menu {
  border-top: 1px solid $page-border-light;

  @media only screen and (min-width : 992px) {
    float:right;
    width: auto;
    border-top: none;
  }

  .nav {
    margin: 0;
    padding-top: 12px;

  	@media only screen and (min-width : 992px) {
  		width: auto;
  		margin-top: 5px;
    	padding: 0 8px;
    	background-color: $main-background;
    	border: 1px solid $page-border-light;
  		@include border-radius(100px);
    }

    > li {
      margin-bottom: 0;

      @media only screen and (min-width : 992px) {
        float:left;
      }

      > a {
      	margin: 0;
      	padding-right: 15px;
      	padding-left: 0;
				font-size: 18px;
				font-style: normal;
      	font-weight: 400;
      	color: $body-text;

      	&:hover,
				&:focus {
					color: $menu-text-dark;
				}

				&.active,
		    &.active-trail {
					text-decoration: underline;
				}

        @media only screen and (min-width : 992px) {
          margin: 0;
      		padding: 6px 10px 8px 10px;
      		font-size: 14px;
					font-style: italic;
        }

      }

    }

  }

}
