/*------------------------------------*\
    IUCN page main
\*------------------------------------*/


// borders at the top of pages
body #main-wrapper {
	background: $main-background;
	border-top: 4px solid $page-border;
	border-bottom: 0;
  padding-bottom: 0;
}

// give breadcrumbs some space at the top of the page
#breadcrumb .breadcrumb {
  margin-top: 20px;
  // change the font stack for breadcrumbs to resolve jagged rendering issues on small text
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;

  a, a.active {
    color: $body-dark-text;
    text-decoration: underline;
  }

}


#page-header h1 {
  width: auto;
}

//pagination
body .item-list ul.pager {
	padding: 20px 10px;
	background: $white;

  li {
    a{
      text-decoration: none;
      color: $body-dark-text;
    }
  }

  li.pager-current {
    border:none;

    span {
      color: $white;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: $page-border;
      border: none;
    }
  }

}


// large featured images on pages need some margin-bottom
.field-featured-image img.full {
  margin-bottom: 30px;
}

// project, blog & event items have medium-sized
// images that expand to 100% when on small screen
// add some margin-bottom
.oe-basic img.medium {
  margin-bottom: 30px;

  @media only screen and (min-width: 481px) {
    margin-bottom: 0;
  }

}
