/*------------------------------------*\
    IUCN Registration and Login
\*------------------------------------*/


// Tabbed navigation
.nav-tabs {
	border-bottom: 2px solid $library-blue;

  > li a {
  	margin-right: 5px;
    color: $body-text;
    background-color: $page-border;
    border: none;
  }

  > li.active > a, > .active > a:hover, > .active > a:focus {
    color: $white;
    background-color: $library-blue;
  }

}

// Profile view
.profile {

	h3.field-label {
		border-bottom: none;
	}

}

