/*------------------------------------*\
    IUCN variables
\*------------------------------------*/

// Colours

$white:									#fff;
$green:        #63a966;

$library-blue:					#3672a1;
$library-lightblue:			#e6f2fb;
$library-darkblue:			#2b6c9f;

$aow-green:							#238143;
$aow-darkgreen:					#1e6f3a;

$body-text:							#7f838f;
$body-dark-text:				#6f737d;

$form-border:						#d8dfe4;
$form-border-focused:		#c7ced3;
$form-placeholder:			#b5b7bd;

$menu-text-dark:				#565963;

$secondary-menu-text:		#508dbd;

$page-border:						#d7dce0;
$page-border-light:			#ecf1f4;

$main-background:				#f9f9f9;

$site-by-text:					#9b9fa9;
$ethical-green:					#62b77e;

$carousel-green:				$green;
